/*! Version: 0.43.0
Date: 2015-05-27 */

/* Compatible with Leaflet 0.7 */

/* Ubah warna pada root untuk mengatur theme */

:root {
    --background-dark : #111111;
    --main : #004aad;
}

.leaflet-touch .leaflet-bar-part-single {
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    border-bottom: none;
  }
  .leaflet-touch .leaflet-control-locate {
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }
  
  .leaflet-control-locate a {
    font-size: 1.4em;
    /* background: var(--background) url(images/gps-green.png); */
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
  }

  .leaflet-control-locate a:hover {
    font-size: 1.4em;
    /* background: var(--main) url(images/gps-black.png); */
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
  }

  .leaflet-control-locate.active a {
    color: #2074B6;
  }
  .leaflet-control-locate.active.following a {
    color: #FC8428;
  }